<header class="header" role="banner">
    <div class="wrap">
        <!-- Logo -->
        <div class="logo">
            <a href="{{ path('covoiturage_frontend_homepage') }}" title="Transfers"><img src="{{ asset('bundles/covoituragefrontend/images/logo.png') }}" alt="Navette" /></a>
        </div>
        <!-- //Logo -->

        <!-- Main Nav -->
        <nav role="navigation" class="main-nav">
            <ul>
                <li class="active"><a href="index.html" title="">Poster navette</a></li>
                <li><a href="tailor-made.html" title="Tailor made">Comment ça fonctionne?</a></li>
                <li><a href="contact.html" title="Contact">A propos</a></li>
            </ul>
        </nav>
        <!-- //Main Nav -->

        <!-- Subscribe btn -->
        <div class="subscribe">
            <a href="#" class="btn medium color">S'inscrire</a>
        </div>
        <!-- //Subscribe btn -->
    </div>
</header>