<!-- row -->
<div class="row">
    <div class="col-sm-6">
        <!-- Logo -->
        <h1 class="logo"><a href="#"><img src="{{ asset('bundles/covoituragefrontend/images/logo.png') }}" class="img-responsive" alt="Covoiturage.tn"/></a></h1>
        <!--/ Logo -->
    </div>
    <div class="col-sm-6">
        <!-- User Menu -->
        <div class="user-buttons buttons pull-right">
            <a class="btn btn-icon btn-icon-left btn-icon-checkout btn-red" href="#" hidefocus="true" style="outline: medium none;"><span>S'inscrire</span></a>
            <a class="btn btn-icon btn-icon-left btn-icon-login btn-green" href="#connexion-box" hidefocus="true" style="outline: medium none;" id="btn-connexion"><span>Se connecter</span></a>
        </div>
        <!--/ User Menu -->
    </div>
</div>
<!--/ row -->