<form method="post" action="#">
    <div class="inner">
        <div class="field_text">
            <label for="user-login" class="label_title">Nom d'utilisateur</label>
            <input type="text" name="log" id="user-login" value="" placeholder="Nom d'utilisateur" />
        </div>
        <div class="field_text">
            <label for="user-pass" class="label_title">Mot de passe</label>
            <input type="password" name="pwd" id="user-pass" value="" placeholder="Mot de passe" />
        </div>
        <div class="divider"></div>
        <div class="rowRemember">
            <div class="forgetmenot input_styled checklist">
                <div class="rowCheckbox"><input type="checkbox" name="remember" id="remember" value="" checked><label for="remember">Se souvenir de moi</label></div>
            </div>
            <span class="forget-password"><a href="#">J'ai oublié mon mot de passe?</a></span>
        </div>
    </div>
    <div class="rowSubmit clearfix">
        <span class="btn btn-icon btn-icon-right btn-icon-login btn-green"><input type="submit" name="login-submit" id="login-submit" value="Accédez à votre compte" /></span>
    </div>
</form>