<form action="#" method="post" id="reservation">
    <div class="inner">
        <div class="section section-place">
            <div id="started_place" class="field_text">
                <label for="filter_place_in" class="label_title">Lieu de départ</label>
                {{ render( controller( 'CovoiturageFrontendBundle:Place:getGouvernorats' )) }}
                <div style="display: none"><select id="annonce_idDelegation"></select></div>
                <div style="display: none"><select id="annonce_idLocalite"></select></div>
            </div>
            <div id="arrived_place" class="field_text">
                <label for="filter_place_out" class="label_title">Lieu d'arrivé</label>
                {# render( controller( 'CovoiturageFrontendBundle:Place:getGouvernorats' )) #}
            </div>
        </div>
        <div class="section section-date">
            <div class="field_text input-date">
                <label for="filter_date_in" class="label_title">Date</label>
                <input type="text" name="filter_date_in" value="Date de départ" onfocus="if (this.value == 'Check in') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Check in';}" id="filter_date_in" />
            </div>
            <script>
                jQuery(document).ready(function($) {
                    $("#filter_date_in").datepicker({
                        dateFormat: 'MM dd, yy',
                        minDate: 0,
                        showOtherMonths: true
                    });
                });
            </script>
        </div>
        <div class="section section-persons clearfix">
            <label for="nb_places" class="label_title">Nombre de place disponible</label>
            <select class="select_styled blue" name="nb_places" id="nb_places">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div class="rowSubmit">
        <span class="btn btn-full"><input type="submit" id="send3" value="Rechercher" /></span>
    </div>
</form>