<form action="{{ path('covoiturage_frontend_search') }}" method="GET" id="reservation">
    <input type="hidden" name="page" value="{% if  pagination.page is defined %}{{ pagination.page }}{% else %}1{% endif %}">
    <div class="inner">
        <div class="section section-place">
            <div id="started_place" class="field_text">
                <label for="select-depart" class="label_title">Lieu de départ</label>
                {{ render(controller('CovoiturageFrontendBundle:Place:getLocations', { 'name': 'depart' })) }}
            </div>
            <div id="arrived_place" class="field_text">
                <label for="select-arrive" class="label_title">Lieu d'arrivé</label>
                {{ render( controller( 'CovoiturageFrontendBundle:Place:getLocations', {'name':'arrive'} )) }}
            </div>
        </div>
        <div class="section section-date">
            <div class="field_text input-date">
                <label for="filter_date_in" class="label_title">Date départ</label>
                <input data-role="date" data-inline="true" type="text" name="date" placeholder="Peu importe" id="filter_date_in" />
            </div>
            <script>
                jQuery(document).ready(function($) {
                    $("#filter_date_in").datepicker({
                        dateFormat: 'MM dd, yy',
                        minDate: 0,
                        showOtherMonths: true
                    });
                });
            </script>
        </div>

    </div>
    <div class="rowSubmit">
        <span class="btn btn-full"><input type="submit" id="search" value="Rechercher" /></span>
    </div>
</form>