<!-- Search -->
<div class="advanced-search color" id="booking">
<div class="wrap">
<form role="form" action="search-results.html" method="post">
<!-- Row -->
<div class="f-row">
    <div class="form-group datepicker one-third">
        <label for="dep-date">DATE ET HEURE DE DÉPART</label>
        <input type="text" id="dep-date" />
    </div>
    <div class="form-group select one-third">
        <label>RAMASSEZ L'EMPLACEMENT</label>
        <select>
            <option selected>&nbsp;</option>
            <optgroup label="Ariana">
                <option value="Ariana Ville">Ariana Ville</option>
                <option value="Ettadhamen">Ettadhamen</option>
                <option value="Kalaat Landlous">Kalaat Landlous</option>
                <option value="La Soukra">La Soukra</option>
                <option value="Mnihla">Mnihla</option>
                <option value="Raoued">Raoued</option>
                <option value="Sidi Thabet">Sidi Thabet</option>
            </optgroup>
            <optgroup label="Béja">
                <option value="Amdoun">Amdoun</option>
                <option value="Beja Nord">Beja Nord</option>
                <option value="Beja Sud">Beja Sud</option>
                <option value="Goubellat">Goubellat</option>
                <option value="Mejez El Bab">Mejez El Bab</option>
                <option value="Nefza">Nefza</option>
                <option value="Teboursouk">Teboursouk</option>
                <option value="Testour">Testour</option>
                <option value="Thibar">Thibar</option>
            </optgroup>
            <optgroup label="Ben Arous">
                <option value="Ben Arous">Ben Arous</option>
                <option value="Bou Mhel El Bassatine">Bou Mhel El Bassatine</option>
                <option value="El Mourouj">El Mourouj</option>
                <option value="Ezzahra">Ezzahra</option>
                <option value="Fouchana">Fouchana</option>
                <option value="Hammam Chatt">Hammam Chatt</option>
                <option value="Hammam Lif">Hammam Lif</option>
                <option value="Megrine">Megrine</option>
                <option value="Mohamadia">Mohamadia</option>
                <option value="Mornag">Mornag</option>
                <option value="Nouvelle Medina">Nouvelle Medina</option>
                <option value="Rades">Rades</option>
            </optgroup>
            <optgroup label="Bizerte">
                <option value="Belfast City Airport">Belfast City Airport</option>
            </optgroup>
            <optgroup label="Gabès">
                <option value="Belfast City Airport">Belfast City Airport</option>
            </optgroup>
            <optgroup label="Gafsa">
                <option value="Berlin Central Train Station">Berlin Central Train Station</option>
            </optgroup>
            <optgroup label="Jendouba">
                <option value="Alghero Airport">Alghero Airport</option>
            </optgroup>
            <optgroup label="Kairouan">
                <option value="Alicante Airport">Alicante Airport</option>
            </optgroup>
            <optgroup label="Kasserine">
                <option value="Belfast City Airport">Belfast City Airport</option>
            </optgroup>
            <optgroup label="Kébili">
                <option value="Belfast City Airport">Belfast City Airport</option>
            </optgroup>
            <optgroup label="Le Kef">
                <option value="Berlin Central Train Station">Berlin Central Train Station</option>
            </optgroup>
            <optgroup label="Mahdia">
                <option value="Alghero Airport">Alghero Airport</option>
            </optgroup>
            <optgroup label="La Manouba">
                <option value="Alicante Airport">Alicante Airport</option>
            </optgroup>
            <optgroup label="Médenine">
                <option value="Belfast City Airport">Belfast City Airport</option>
            </optgroup>
            <optgroup label="Monastir">
                <option value="Belfast City Airport">Belfast City Airport</option>
            </optgroup>
            <optgroup label="Sfax">
                <option value="Berlin Central Train Station">Berlin Central Train Station</option>
            </optgroup>
            <optgroup label="Sidi Bouzid">
                <option value="Alghero Airport">Alghero Airport</option>
            </optgroup>
            <optgroup label="Siliana">
                <option value="Alicante Airport">Alicante Airport</option>
            </optgroup>
            <optgroup label="Sousse">
                <option value="Belfast City Airport">Belfast City Airport</option>
            </optgroup>
            <optgroup label="Tataouine">
                <option value="Belfast City Airport">Belfast City Airport</option>
            </optgroup>
            <optgroup label="Tozeur">
                <option value="Belfast City Airport">Belfast City Airport</option>
            </optgroup>
            <optgroup label="Zaghouan">
                <option value="Belfast City Airport">Belfast City Airport</option>
            </optgroup>
        </select>
    </div>
    <div class="form-group select one-third">
        <label>LIEU DE RESTITUTION</label>
        <select>
            <option selected>&nbsp;</option>
            <optgroup label="Ariana">
                <option value="Ariana Ville">Ariana Ville</option>
                <option value="Ettadhamen">Ettadhamen</option>
                <option value="Kalaat Landlous">Kalaat Landlous</option>
                <option value="La Soukra">La Soukra</option>
                <option value="Mnihla">Mnihla</option>
                <option value="Raoued">Raoued</option>
                <option value="Sidi Thabet">Sidi Thabet</option>
            </optgroup>
            <optgroup label="Béja">
                <option value="Amdoun">Amdoun</option>
                <option value="Beja Nord">Beja Nord</option>
                <option value="Beja Sud">Beja Sud</option>
                <option value="Goubellat">Goubellat</option>
                <option value="Mejez El Bab">Mejez El Bab</option>
                <option value="Nefza">Nefza</option>
                <option value="Teboursouk">Teboursouk</option>
                <option value="Testour">Testour</option>
                <option value="Thibar">Thibar</option>
            </optgroup>
            <optgroup label="Ben Arous">
                <option value="Ben Arous">Ben Arous</option>
                <option value="Bou Mhel El Bassatine">Bou Mhel El Bassatine</option>
                <option value="El Mourouj">El Mourouj</option>
                <option value="Ezzahra">Ezzahra</option>
                <option value="Fouchana">Fouchana</option>
                <option value="Hammam Chatt">Hammam Chatt</option>
                <option value="Hammam Lif">Hammam Lif</option>
                <option value="Megrine">Megrine</option>
                <option value="Mohamadia">Mohamadia</option>
                <option value="Mornag">Mornag</option>
                <option value="Nouvelle Medina">Nouvelle Medina</option>
                <option value="Rades">Rades</option>
            </optgroup>
        </select>
    </div>
</div>
<!-- //Row -->

<!-- Row -->
<div class="f-row">
    <div class="form-group datepicker one-third">
        <label for="ret-date">Return date and time</label>
        <input type="text" id="ret-date" />
    </div>
    <div class="form-group select one-third">
        <label>Pick up location</label>
        <select>
            <option selected>&nbsp;</option>
            <optgroup label="Ariana">
                <option value="Ariana Ville">Ariana Ville</option>
                <option value="Ettadhamen">Ettadhamen</option>
                <option value="Kalaat Landlous">Kalaat Landlous</option>
                <option value="La Soukra">La Soukra</option>
                <option value="Mnihla">Mnihla</option>
                <option value="Raoued">Raoued</option>
                <option value="Sidi Thabet">Sidi Thabet</option>
            </optgroup>
            <optgroup label="Béja">
                <option value="Amdoun">Amdoun</option>
                <option value="Beja Nord">Beja Nord</option>
                <option value="Beja Sud">Beja Sud</option>
                <option value="Goubellat">Goubellat</option>
                <option value="Mejez El Bab">Mejez El Bab</option>
                <option value="Nefza">Nefza</option>
                <option value="Teboursouk">Teboursouk</option>
                <option value="Testour">Testour</option>
                <option value="Thibar">Thibar</option>
            </optgroup>
            <optgroup label="Ben Arous">
                <option value="Ben Arous">Ben Arous</option>
                <option value="Bou Mhel El Bassatine">Bou Mhel El Bassatine</option>
                <option value="El Mourouj">El Mourouj</option>
                <option value="Ezzahra">Ezzahra</option>
                <option value="Fouchana">Fouchana</option>
                <option value="Hammam Chatt">Hammam Chatt</option>
                <option value="Hammam Lif">Hammam Lif</option>
                <option value="Megrine">Megrine</option>
                <option value="Mohamadia">Mohamadia</option>
                <option value="Mornag">Mornag</option>
                <option value="Nouvelle Medina">Nouvelle Medina</option>
                <option value="Rades">Rades</option>
            </optgroup>
        </select>
    </div>
    <div class="form-group select one-third">
        <label>Drop off location</label>
        <select>
            <option selected>&nbsp;</option>
            <optgroup label="Ariana">
                <option value="Ariana Ville">Ariana Ville</option>
                <option value="Ettadhamen">Ettadhamen</option>
                <option value="Kalaat Landlous">Kalaat Landlous</option>
                <option value="La Soukra">La Soukra</option>
                <option value="Mnihla">Mnihla</option>
                <option value="Raoued">Raoued</option>
                <option value="Sidi Thabet">Sidi Thabet</option>
            </optgroup>
            <optgroup label="Béja">
                <option value="Amdoun">Amdoun</option>
                <option value="Beja Nord">Beja Nord</option>
                <option value="Beja Sud">Beja Sud</option>
                <option value="Goubellat">Goubellat</option>
                <option value="Mejez El Bab">Mejez El Bab</option>
                <option value="Nefza">Nefza</option>
                <option value="Teboursouk">Teboursouk</option>
                <option value="Testour">Testour</option>
                <option value="Thibar">Thibar</option>
            </optgroup>
            <optgroup label="Ben Arous">
                <option value="Ben Arous">Ben Arous</option>
                <option value="Bou Mhel El Bassatine">Bou Mhel El Bassatine</option>
                <option value="El Mourouj">El Mourouj</option>
                <option value="Ezzahra">Ezzahra</option>
                <option value="Fouchana">Fouchana</option>
                <option value="Hammam Chatt">Hammam Chatt</option>
                <option value="Hammam Lif">Hammam Lif</option>
                <option value="Megrine">Megrine</option>
                <option value="Mohamadia">Mohamadia</option>
                <option value="Mornag">Mornag</option>
                <option value="Nouvelle Medina">Nouvelle Medina</option>
                <option value="Rades">Rades</option>
            </optgroup>
        </select>
    </div>
</div>
<!-- //Row -->

<!-- Row -->
<div class="f-row">
    <div class="form-group right">
        <button type="submit" class="btn large black">Trouver</button>
    </div>
    <div class="form-group spinner">
        <label for="people">COMBIEN DE PERSONNES?</label>
        <input type="number" id="people" min="1"  />
    </div>
    <div class="form-group radios">
        <div>
            <input type="radio" name="radio" id="return" value="return" />
            <label for="return">Aller/Retour</label>
        </div>
        <div>
            <input type="radio" name="radio" id="oneway" value="oneway" checked />
            <label for="oneway">Aller seulement</label>
        </div>
    </div>
</div>
<!--// Row -->
</form>
</div>
</div>
<!-- //Search -->