<!doctype html>
<html>
<head>
    {%  include 'CovoiturageFrontendBundle:_common:head.html.twig' %}
</head>

<body {% if app.request.attributes.get('_route') == 'covoiturage_frontend_homepage' %} class="home" {% endif %}>

{% include 'CovoiturageFrontendBundle:_common:header.html.twig' %}

<!-- Main -->
<main class="main" role="main">
{% if app.request.attributes.get('_route') != 'covoiturage_frontend_homepage' %}
    {% block search %}
        {% include 'CovoiturageFrontendBundle:_common:search.html.twig' %}
    {% endblock %}
{% endif %}
    {% block content %}{% endblock %}

</main>
<!-- //Main -->


{% include 'CovoiturageFrontendBundle:_common:footer.html.twig' %}

<!-- Preloader -->
<div class="preloader">
    <div id="followingBallsG">
        <div id="followingBallsG_1" class="followingBallsG"></div>
        <div id="followingBallsG_2" class="followingBallsG"></div>
        <div id="followingBallsG_3" class="followingBallsG"></div>
        <div id="followingBallsG_4" class="followingBallsG"></div>
    </div>
</div>
<!-- //Preloader -->



{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <!-- Modal Login -->
    <div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                    <h4 class="modal-title" id="myModalLabel">Connexion</h4>
                </div>
                <div class="modal-body">
                    {{ render(controller('CovoiturageFrontendBundle:User:login')) }}


                </div>

            </div>
        </div>
    </div>
    <!-- End Modal Login -->
{% endif %}

{% block javascripts %}
    {% include 'CovoiturageFrontendBundle:_common:loadjs.html.twig' %}
{% endblock %}
</body>
</html>