{% extends 'CovoiturageFrontendBundle::layout.html.twig' %}


{% block content %}

    {% block fos_user_content %}
        <p>Bienvenu sur covoiturage Tunisie <b>{{  user.username }}</b></p>
        {% if app.session is not empty %}
            {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
            {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">Retour</a></p>{% endif %}
        {% endif %}
    {% endblock fos_user_content %}
{% endblock %}