{% if nb_places >  voyage_reservations %}
    <a href="{{ path('covoiturage_frontend_voyage_show',{id:voyage_id}) }}" class="btn btn-middle btn-icon btn-icon-right"><span>Reservation</span></a>
{% endif %}